<app-calendar-header></app-calendar-header>
<main class="content-area">
	<div class="row">
		<div class="col s12 m8 l12">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Edit Event</div>
						<form (ngSubmit)="updateEvent()" #eventTitleForm="ngForm" class="create-event">
							<div class="left">
								<div class="input-field">
							    <input id="timepicker" class="timepicker" type="time" name="event-name" ngControl="event-name" value="" required>
									<label for="timepicker">Time</label>
								</div>
								<div class="clock-img">
									<img id="timepicker" class="timepicker" src="assets/clock-picker.svg" alt="clock">
								</div>
							</div>
							<div class="right">
								<div class="input-field row">
									<input #title class="validate" type="text" name="event-name" ngControl="event-name" value="" required autofocus>
									<label for="event-title">Event Title</label>
								</div>
								<div class="input-field row">
									<input #instructor class="validate" type="text" name="instructor-name" ngControl="instructor-name" value="" required>
									<label for="instructor-title">Instructor</label>
								</div>
								<div class="input-field row">
									<input #links class="validate" type="text" name="relevant-links" ngControl="relevant-links" value="" required>
									<label for="relevant-links">Relevant Links</label>
								</div>
								<div class="submit-buttons">
									<button type="submit" class="btn waves-effect waves-green">Update Event</button>
									<button type="submit" class="btn waves-effect waves-green">Done</button>
								</div>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
</main>
