@import 'src/sass/components/_variables.scss';
@import 'src/app/template/template.component.scss';

.header {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.card {
  box-shadow: none;
	min-width: 300px;
	margin-right: 5vh;
	margin-left: 5vh;
}

.card:last-child {
  margin-right: 0px;
}

.card .card-content {
	padding: 10px 0 20px 0;
}

.num {
	color: $secondaryBlueColor;
	font-size: 2em;
	font-weight: bold;
	margin-top: -5px;
}

.edit .edit-icon {
	background: $pencil-icon no-repeat center center;
	background-size: cover;
	width: 2em;
	height: 2em;
}

.event-details {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.start-time {
	height: 22px;
	width: 50%;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 50%;
		border-bottom: 3px solid $primaryTealColor;
	}
}

.event-title {
	text-align: right;
	width: 50%;
}

.card .card-action {
	border-top: none;
	font-size: 0.9em;
}

.card-action {
	display: flex;
	justify-content: center;
}

.card-content .card-details {
	padding: 20px;
}

button {
	background-color: $borderColor;
	text-transform: unset;
	font-size: 9px;
}

.btn {
	box-shadow: none;
	font-family: $primary-font;
	font-size: 1em;
}

.btn-left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 1px solid #fff;
}

.btn-right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: 1px solid #fff;
}

.modal {
  top: 0% !important;
  height: 100% !important;
  max-height: 100% !important;
}
