<div class="card">
  <div class="card-content">
    <header class="header">
      <div class="num">{{event[0].day_number}}</div>
  </header>
  <div class="divider"></div>
    <div class="card-details" *ngFor="let item of event">
      <div class="row event-details">
        <div class="start-time">
          {{item.start_time}}
        </div>
        <div class="edit">
          <a [href]="'#' + item.event_id" class="edit-icon btn-med waves-effect waves-circle modal-trigger" (click)="storeCurrEvent(item)"></a>
        </div>
        <div class="event-title">
          {{item.name}}
        </div>
        <div [id]="item.event_id" class="modal">
          <div class="modal-content">
          <app-edit-event [item]="item"></app-edit-event>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
