<app-calendar-header-title></app-calendar-header-title>
<main class="content-area">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-content ">
					<!-- <span class="card-title">Card Title</span> -->
					<input type="text" class="input-field" placeholder="TASK PRIORITY 1-5">
					<input type="text" class="input-field" placeholder="TASK TITLE">
					<input type="text" class="input-field" placeholder="ADD PEOPLE TO TASK">
				</div>
				<div class="buttons">
					<button type="submit" class="btn create col s6 m6 l6 offset-m3"><a href="#" class="white-text">Create Task</a></button>
					<button type="submit" class="btn create col s6 m6 l6 offset-m3"><a href="#" class="white-text">Import Tasks</a></button>
					<button type="submit" class="btn white col s6 m6 l6 offset-m3 rt-arrow"><a href="#" class="next">Next </a></button>
				</div>
			</div>
		</div>
	</div>
</main>
