@import 'src/sass/components/_variables.scss';

.buttons {
	display: flex;
	flex-direction: column
}

.btn {
	border-radius: 4px;
}

.create {
	background-color: $secondaryBlueColor;
}

.next {
	color: $secondaryBlueColor;
}