<div class="sidebar col s12 m4 l2"> <!-- Note "m4 l3" are for med4 and large3 -->
  <!-- side navigation panel

        This content will be:
    3-columns-wide on large screens,
    4-columns-wide on medium screens,
    12-columns-wide on small screens  -->

    <div class="devmountain-logo-blacktext"></div>
    <div class="bot-nav">
      <ul class="sidenav-ul">
        <!-- programmatically add class "active" to each active <li> and not <a> -->
        <li routerLinkActive="active-bg" class="dashboard valign-wrapper"><a routerLink="/dashboard" class="valign">Dashboard</a></li>
        <li routerLinkActive="active-bg" class="account valign-wrapper"><a routerLink="/account">Account</a></li>
        <li routerLinkActive="active-bg" class="messages valign-wrapper"><a routerLink="/messages">Messages</a></li>
      </ul>
      <a class="white-text" routerLink="/template" routerLinkActive="active">Template</a>
    <a class="white-text" routerLink="/event" routerLinkActive="active">Event</a>
    </div>

</div>
