<div class="sidebar col s12 m4 l3"> <!-- Note "m4 l3" are for med4 and large3 -->
  <!-- side navigation panel

        This content will be:
    3-columns-wide on large screens,
    4-columns-wide on medium screens,
    12-columns-wide on small screens  -->

    <div class="devmountain-logo-blacktext"></div>
    <div class="bot-nav">
      <ul class="sidenav-ul">
        <!-- programmatically add class "active" to each active <li> and not <a> -->
        <li><a href="dashboard">dashboard</a></li>
        <li><a href="account">account</a></li>
        <li><a href="messages">messages</a></li>
      </ul>
    </div>

</div>
