@import 'src/sass/components/_variables.scss';

.card {
  background-color: #fff;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  padding: 0 10%;
  text-align: center;
  transition: all .3s ease-in-out;
  width: 100%;
  & label {
    text-align: left;
  }
}

.input-field label {
  left: 0;
}

.submit-buttons {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 20px;
  }
}
