@import 'src/sass/components/_variables.scss';
body {
	background-color: black;
}

.content-area .row {
  flex-grow: 0.15;
}

.card {
  background-color: #fff;
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  padding: 0 5%;
  text-align: center;
  transition: all .3s ease-in-out;
  & label {
    text-align: left;
  }
}

.flex-section {
  flex-direction: row;
  justify-content: space-between;
}

.left {
  min-width: 300px;
}

.right {
  min-width: 300px;
}

.input-field label {
  left: 0;
}

.submit-buttons {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 20px;
  }
}
