<app-calendar-header></app-calendar-header>
<main class="content-area">
	<div class="row">
		<div class="col s12 m8 l12">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Create Event</div>
						<form (ngSubmit)="createTmpl(title.value)" #templateTitleForm="ngForm" class="create-template">
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">event</i>
								<input #title id="icon_prefix" class="validate" type="text" name="event-name" ngControl="name" value="" required autofocus>
								<label for="template-title">Event Title</label>
							</div>
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">school</i>
								<input #title id="icon_prefix" class="validate" type="text" name="event-name" ngControl="name" value="" required>
								<label for="template-title">Instructor</label>
							</div>
							<button type="submit" class="btn waves-effect waves-green">Create Event</button>
							<button type="submit" class="btn waves-effect waves-green">Done</button>
						</form>
				</div>
			</div>
		</div>
	</div>
</main>
