<app-calendar-header></app-calendar-header>
  <main class="content-area">
    <!-- probably we'll have this be a container and do an ngFor over all the cards -->
    <!-- you mean here candice :troll: -->
    <div class="" *ngFor="let event of events">


    <app-day-card [event]="event"></app-day-card>
    <!-- <app-day-card></app-day-card>
    <app-day-card></app-day-card>
    <app-day-card></app-day-card>
    <app-day-card></app-day-card>
    <app-day-card></app-day-card>
    <app-day-card></app-day-card> -->
      </div>
  </main>
<app-footer></app-footer>
