@import 'src/sass/components/_variables.scss';

.content-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 90vh;
	height: 100%;
}

.card-container {
	margin-right: 20px;
}

.card-container:last-child {
	margin-right: 0;
}
