<div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->

  <app-location-header></app-location-header>
  <app-schedule-header></app-schedule-header>
  <router-outlet></router-outlet>
  <!-- <app-calendar-header></app-calendar-header> -->

  <!-- <app-content></app-content> -->
  <!-- Teal page content

        This content will be:
    9-columns-wide on large screens,
    8-columns-wide on medium screens,
    12-columns-wide on small screens  -->
    <p>
      content-container works!
    </p>

</div>
