<main class="content-area">
  <!-- probably we'll have this be a container and do an ngFor over all the cards -->
  <!-- you mean here candice :troll: -->
  <div class="cursor-point card-container" *ngFor="let tmpl of tmplList" (click)="chooseTmpl(tmpl)">
    <div class="card">
      <div class="icon" (click)="removeTemplate()">
        <i class="material-icons">clear</i>
      </div>
      <div class="card-content">
        <!-- the .row would be ngFor with the data populated from db/API -->
        <div class="card-details">
          <div class="row event-details">
            <div class="template-title">
              {{tmpl.name}}
            </div>
          </div>
        <img class="course-img" src={{tmpl.img}} alt="" />
        </div>
      </div>
      <div class="card-action">
        <button type="button" class="btn btn-left" (click)="chooseTmpl(tmpl)">Choose Me!</button>
      </div>
    </div>
  </div>
</main>
