@import 'src/sass/components/_variables.scss';

.calendar {
	height: 90px;
	// border: solid black;
}

.week {
	border-right: solid 1px #e0e0e0;
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info {
	padding-left: 10px;
}

.week-num {
	font-size: 22px;
	margin: 0;
	// padding-left: 10px;
	font-family: $tertiary-font;
}

.left-chevron {
	background: $left-chevron no-repeat center center;
}

.right-chevron {
	background: $right-chevron no-repeat center center;
}

.class {
	font-size: 10px;
	margin: 0;
	// padding-left: 10px;
	font-family: $tertiary-font;
}

.buttons {
	display: flex;
	// justify-content: flex-end;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.title {
	text-transform: uppercase;
	font-size: 30px;
	color: $primaryBlueColor;
}

.modal { 
	max-height: 90% !important; 
	height: 100% !important; 
	top: 5% !important;
}

.dropdown-button.btn {
  border-radius: 0;
	margin: 0;
}

.collection {
  overflow: visible;
}

.modal-footer {
	display: flex;
	justify-content: center;
	button {
		background-color: $primaryBlueColor;
	}
}
