<main class="valign-wrapper calendar row">
	<div class="week">
		<div class="info">
			<p class="week-num"><b>WEEK {{currWeek}}</b></p>
			<p class="class title">{{currTmpl.name}}</p>
		</div>
		<button type="button" class="btn left-chevron" (click)="lastWeek()"></button>
	</div>
	<div class="buttons">
		<button type="button" class="btn right-chevron" (click)="nextWeek()"></button>
		<div>
			<button type="button" class="btn"><a routerLink="/event" class="white-text">NEW EVENT</a></button>
			<button type="button" class="btn"><a class="modal-trigger white-text">GO LIVE</a></button>
		</div>
	</div>
</main>


<div id="go-live" class="modal bottom-sheet">
  <div class="modal-content">
		<h4>Yay you're making a new template Jeremy! :D</h4>
    <form (ngSubmit)="createTmpl(title.value)" #templateTitleForm="ngForm" class="create-template">
			<div class="input-field col s12 l6">
				<i class="material-icons prefix">mood</i>
				<input #title id="icon_prefix" class="validate" type="text" name="name" ngControl="name" value="" required autofocus>
				<label for="template-title">Template Title</label>
			</div>
			<div class="modal-footer">
		    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</button>
		  </div>
    </form>
  </div>
</div>
