@import 'src/sass/components/_variables.scss';

.calendar {
	height: 90px;
	// border: solid black;
}

.week {
	border-right: solid 1px #e0e0e0;
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info {
	padding-left: 2vh;
}

.week-num {
	font-size: 22px;
	margin: 0;
	// padding-left: 10px;
	font-family: $primary-font;
}

.left-chevron {
	background: $left-chevron no-repeat center center;
}

.right-chevron {
	background: $right-chevron no-repeat center center;
}

.class {
	font-size: .85rem;
	color: $primaryBlueColor;
	margin: 0;
	// padding-left: 10px;
	font-family: $primary-font;
}

.buttons {
	display: flex;
	// justify-content: flex-end;
	justify-content: space-between;
	width: 100%;
}

.title {
	text-transform: uppercase;
}
