<main class="valign-wrapper calendar row">
	<div class="week">
		<div class="info">
			<p class="week-num"><b>WEEK ONE</b></p>
			<p class="class title">{{currTmpl.name}}</p>
		</div>
		<button type="button" class="btn left-chevron"></button>
	</div>
	<div class="buttons">
		<button type="button" class="btn right-chevron"></button>
		<div>
			<button type="button" class="btn"><a routerLink="/event" class="white-text">NEW EVENT</a></button>
			<button type="button" class="btn"><a class="white-text">GO LIVE</a></button>
		</div>
	</div>
</main>