@import 'src/sass/components/_variables.scss';

.location-container {
	height: 90px;
}

.locations {
	font-family: $primary-font;
}

.locations li {
	color: $primaryTealColor;
	padding: 0 15px;
}

.locations li:first-child {
	padding-left: 0;
}

.show-hide-add li {
	padding: 0 15px;
}

.show-hide-add li:last-child a{
	color: $primaryTealColor;
}
