/* You can add global styles to this file, and also import other style files */
@import 'sass/materialize.scss';

////////
//COLORS
////////
//UI Elements


//Fonts
$titleFontColor: #2C3E50;
$primaryFontColor: #6D6D6D;
$secondaryFontColor: #909090;
