/* You can add global styles to this file, and also import other style files */
@import 'sass/materialize.scss';

.mbot-0 {
  background: $primary-color;
  margin-bottom: 0;
}

.content-area {
  // background-color: $primary-color;
  padding-top: 30px;
  display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 50px;
	padding-right: 50px;
}

.flex-section {
  display: flex;
}

.cursor-point {
  cursor: pointer;
}

.card {
  background-color: #fff;
}

form {
}

button.btn {
	border-radius: 20px;
  box-shadow: none;
	background-color: $borderColor;
	margin: 0 15px;
	font-size: 14px;
}

.modal .modal-footer .btn-flat.modal-close {
  float: left;
  background-color: $borderColor;
  border-radius: 20px;
  color: #fff;
}

.picker .picker__date-display {
  background-color: $secondaryBlueColor;
}
