/* You can add global styles to this file, and also import other style files */

//COLORS
//UI Elements
$primaryBlueColor: #2192F6;
$primaryTealColor: #0DFFF0;
$secondaryBlueColor: #00DDFF;
$borderColor: #29DDB9;

//Fonts
$titleFontColor: #2C3E50;
$primaryFontColor: #6D6D6D;
$secondaryFontColor: #909090;
