<main class="top-header valign-wrapper schedule-container">
<ul class="schedule">
	  <li routerLinkActive="schedule-active-bg" class="dashboard valign-wrapper"><a routerLink="/schedule" class="left">SCHEDULE</a></li>
  <li routerLinkActive="schedule-active-bg" class="dashboard valign-wrapper"><a routerLink="/template" class="left">TEMPLATES</a></li>
</ul>


<ul class="show-hide-add">
	<li class=""><a class="add-icon btn-med waves-effect waves-circle"></a></li>
	<li class=""><a class="up-circle btn-med waves-effect waves-circle"></a></li>
</ul>
</main>
<div class="divider"></div>
