<main class="top-header valign-wrapper schedule-container">
<ul class="schedule">
	  <li routerLinkActive="active-bg" class="dashboard valign-wrapper"><a routerLink="/schedule" class="left">SCHEDULE</a></li>
  <li routerLinkActive="active-bg" class="dashboard valign-wrapper"><a routerLink="/template" class="left">TEMPLATES</a></li>
</ul>


<ul class="show-hide-add">
	<li class=""><a class="add-icon btn-med waves-effect waves-circle"></a></li>
	<li class=""><a href="#create-template" class="up-circle btn-med waves-effect waves-circle"></a></li>
</ul>
</main>
<div class="divider"></div>


<div id="create-template" class="modal bottom-sheet">
  <div class="modal-content">
    <form (ngSubmit)="onSubmit(templateTitleForm.value)" #templateTitleForm="ngForm" class="create-template">
			<label for="template-title">Temaplte Title</label>
			<input type="text" name="name" value="" required autofocus>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
