@import 'src/sass/components/_variables.scss';

.schedule-container {
	height: 90px;
}

.schedule {
	font-family: $primary-font;
}

.schedule li {
	color: $borderColor;
	padding: 0 15px;
}

.schedule li:first-child {
	padding-left: 0;
}

.show-hide-add li {
	padding: 0 15px;
}

.add-icon {
	background-image : $add-icon;
}

.show-hide-add li:last-child a{
	color: $secondaryBlueColor;
}
