@import 'src/sass/components/_variables.scss';

.top-header {
	margin-left: 30px;
}

.schedule-container {
	height: 10vh;
}

.schedule {
	display: flex;
	font-family: $tertiary-font;
	width: 100%;
	text-transform: uppercase;
}

.schedule li a {
	color: $titleFontColor;
	padding: 0 15px;
}

.schedule li:first-child {
	padding-left: 0;
}

.show-hide-add {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.show-hide-add li {
	padding: 0 15px;
}

.add-icon {
	background: $add-icon no-repeat center center;
}

.up-circle {
	background: $up-circle no-repeat center center;
}

.waves-circle {
	width: 3em;
	height: 3em;
}

.show-hide-add li:last-child a{
	color: $secondaryBlueColor;
}

.schedule-active {
	a {
		color: $primaryBlueColor !important;
		border-bottom: solid;
	}
}
